border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    bottom: 0
    left: 2%
    content: ''
    width: 96%
    border-top: 1px solid $color


border-10px($color)
  position: relative
  &:after
    display: block
    position: absolute
    bottom: 0
    content: ''
    width: 100%
    border-top: 10px solid $color

border-5px($color)
  position: relative
  &:after
    display: block
    position: absolute
    bottom: 0
    content: ''
    width: 100%
    border-top: 5px solid $color
